:root {
  --lightblue: #6f8cd5;
  --middleblue: #4c70d6;
}

* {
  background: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.mobile-menu {
  width: 300px;
  height: 550px;
  border: 1px solid black;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}

.menu-top {
  display: flex;
  color: white;
  padding: 10px;
  min-height: 120px;
  gap: 1.5rem;
}

.blue-background {
  background: linear-gradient(to right, #6f8cd6, #4c6ed7);
  width: 120%;
  height: 190px;
  border-bottom-left-radius: 2rem;
  position: absolute;
  top: -5rem;
  left: -1.5rem;
  transform: rotate(-15deg);
  z-index: -1;
}

.top-left-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-right-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top-right-menu h3 {
  font-weight: 600;
}

.top-right-menu p {
  opacity: 0.8;
}

.top-left-menu img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
  border: 7px solid rgba(255, 255, 255, 0.2);
}

.menu-list-item {
  display: flex;
}

.menu-middle {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.menu-middle button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--middleblue);
  color: white;
  border-radius: 0.5rem;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  box-shadow: 3px 3px 3px #6f8cd5;
}

.menu-middle button:hover {
  /* font-size: 0.9rem; */
  box-shadow: none;
}
.menu-bottom {
  margin-top: 20px;
}
.menu-bottom .nav {
  list-style-type: none;
  padding-left: 0;
}

.menu-bottom svg {
  margin-left: 20px;
}
.nav > li {
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
  cursor: pointer;
  gap: 0.7rem;
  padding-block: 1rem;
}

.nav > li:hover {
  background: #f7fbff;
  color: var(--middleblue);
  position: relative;
}

.nav > li:hover::before {
  position: absolute;
  content: "";
  border-left: 4px solid #4c70d6;
  height: 100%;
}
